* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  background-color: #eeee; }

a {
  text-decoration: none; }

p {
  line-height: 1.5; }

ul {
  list-style-type: none; }

.header {
  background-color: #625380;
  background-size: cover;
  position: sticky;
  top: 0;
  animation: header_transition 5s;
  z-index: 1;
  color: #fff; }
  f .header a:hover {
    color: #821c51; }
  .header__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: linear-gradient(45deg, #513b7b, #917ac0);
    color: #fff; }
  .header__content_2 {
    width: 100%; }
  .header__content_2 ul li a {
    color: #fff; }
  .header__servicios {
    background-color: #917ac0; }

@keyframes header_transition {
  0% {
    top: -100px;
    position: relative; }
  100% {
    top: 0px;
    position: relative; } }

@keyframes header_color {
  0% {
    background-color: #ffff; }
  100% {
    background-color: linear-gradient(45deg, #513b7b, #917ac0); } }

.hola_somos_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  width: 100%;
  padding: 20px; }

.somos_imagen_img {
  height: 400px; }

.hola_somos_1 h1 {
  font-style: italic;
  font-size: 90px;
  font-family: 'Righteous', cursive; }

.hola_somos_2 {
  position: absolute;
  width: 100%;
  padding: 20px; }

.hola_somos_2 h1 {
  font-style: italic;
  font-size: 90px; }

.hola_somos_carousel {
  animation: hola_somos_imagen 5s forwards; }

@keyframes hola_somos_imagen {
  0% {
    top: 1050px;
    position: relative; }
  100% {
    top: 0px;
    position: relative; } }

.grid_servicios {
  background-color: #fff;
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  align-items: center; }

.cardservicios {
  background-color: #d7acac;
  color: black;
  height: 400px;
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  border-radius: 20px;
  box-shadow: 0 25px 50px -12px #aa5151;
  transition: transform 0.3s; }

.cardservicios:hover {
  transform: perspective(420px) translateZ(40px); }

.cardimg {
  width: 150px;
  height: 200px;
  overflow: hidden;
  background-color: #b9747b;
  text-align: center;
  border-radius: 20px;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.cardimg img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin-top: 1rem; }

.button {
  background-color: #625380;
  color: white;
  padding: 10px;
  border-radius: 10px; }

.cardservicios_holistica {
  background-color: #764545;
  color: #dbabb0;
  height: 400px;
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  border-radius: 20px; }

.cardimg_holistica_img {
  width: 10vw;
  height: 10vw;
  overflow: hidden;
  background-color: #b9747b;
  text-align: center;
  border-radius: 20px;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.cardimg_holistica_img img {
  height: 50%;
  width: 50%;
  object-fit: cover; }

.somos {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #dbabb0; }

.somos_texto {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 20px; }

.somos_texto p {
  font-size: 30px; }

.somos_imagen {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  margin: 20px; }

.somos_imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.navbar img {
  display: none; }

.carousel_height {
  height: 1050px; }

@media (max-width: 1700px) {
  .grid_servicios {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 900px; } }

@media (max-width: 1300px) {
  .footer__explora h1 {
    font-size: 20px; }
  .footer__explora ul li a {
    font-size: 15px; }
  .footer__explora ul li h3 {
    font-size: 15px; } }

@media (max-width: 1150px) {
  .footer {
    grid-template-columns: repeat(1, 1fr);
    justify-items: start;
    height: 800px; }
  .carousel_height {
    height: 800px; } }

@media (max-width: 1024px) {
  .grid_servicios {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 1400px; }
  .hola_somos {
    font-size: 30px; }
  .somos {
    flex-direction: column;
    align-items: center; }
  .carousel_height {
    height: 600px; }
  .hola_somos_1 h1 {
    font-size: 50px; }
  .hola_somos_2 h1 {
    font-size: 50px; } }

@media (max-width: 830px) {
  .header__content {
    flex-direction: column;
    align-items: flex-start; }
  .carousel_height {
    height: 500px; } }

@media (max-width: 680px) {
  .grid_servicios {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 2000px; }
  .cardservicios {
    width: 200px;
    height: 300px; }
  .somos_texto p {
    font-size: 20px; }
  .somos_imagen {
    width: 400px;
    height: 400px; }
  .carousel_height {
    height: 500px; }
  .hola_somos_1 h1 {
    font-size: 30px; }
  .hola_somos_2 h1 {
    font-size: 30px; } }

@media (max-width: 470px) {
  .content__logotitle {
    flex-direction: column;
    align-items: flex-start; }
  .navbar img {
    display: inline-block;
    font-size: 50px;
    margin: 10px; }
  .somos_imagen_img {
    width: 300px;
    height: 300px; }
  .footer {
    font-size: 10px;
    height: 700px; }
  .footer__explora {
    margin: 10px; }
  .footer__explora__logo img {
    width: 200px;
    height: 100px; }
  .menu li img {
    width: 10px;
    height: 10px; }
  .carousel_height {
    height: 300px; }
  .hola_somos_1 h1 {
    font-size: 20px; }
  .hola_somos_2 h1 {
    font-size: 20px; } }

.footer {
  background-color: black;
  color: #fff;
  height: 400px;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-items: center;
  margin-top: 20px; }
  .footer__explora {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-items: left; }
  .footer__explora__logo {
    margin: 30px; }

.menu li a {
  color: #fff; }

.contactanos__datos {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .contactanos__datos__datos h3 {
    margin-left: 10px; }
