body {
    font-family: "Poppins", Helvetica, Arial, sans-serif;

}

.bloque_quienessomos {
    width: 100%;
}

.quienessomos_encabezado {
    background-image: url(./imagenes/perros-gatos-china.jpeg);
    background-size: cover;
    background-position: center;
    background-position-x: center;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: 200;
    position: relative;
    animation: quienessomos_transition 3s forwards;


}

@keyframes quienessomos_transition {
    0% {
        left: -100%;
    }

    100% {
        left: 0%;
    }
}

.quienessomos_encabezado h1 {
    padding-left: 20px;

}

.quienessomos_encabezado h2 {
    padding-left: 20px;
}

.especialistas {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    justify-items: center;



}

.especialistas h2 {
    color: purple;
    font-size: 42px;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 0px;





}


.especialistas__datos {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 200px;
}

.especialistas__menu li {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0px;
    width: 300px;


}

.quienes__somos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    height: 400px;
    font-size: 30px;
    font-weight: 300;
    width: 100%;
}

.quienes__somos ul li {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.quienes__somos ul li p {
    margin-left: 10px;
}


@media (max-width:1390px) {
    .especialistas {
        grid-template-columns: 0.7fr, 0.5fr, 0.5fr, 1fr;
        grid-template-rows: repeat(1, 1fr);
        height: x00px;
        margin: 20px;
    }

    .especialistas h2 {
        font-size: 35px;
    }

    .especialistas__img img {
        width: 400px;
        height: 200px;
    }

    .quienes__somos {
        display: flex;
        flex-direction: column;
        justify-items: center;
        height: 500px;

    }
}

@media (max-width:1290px) {
    .especialistas__datos {
        margin: 0px;
    }

    .especialistas {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .quienessomos_encabezado {
        font-size: 10px;
    }

}

@media (max-width:480px) {
    .especialistas__img img {
        width: 200px;
        height: 100px;
    }

    .quienes__somos {
        font-size: 15px;
        height: 350px;

    }

    .especialistas p {
        font-size: 15px;
    }
}

@media (max-width:350px) {
    .especialistas p {
        font-size: 10px;
    }

    .especialistas {
        align-items: flex-start;
    }
}