.clinica {
    background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../imagenes/reunionperrosgatos.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Poppins;
    color: $fontBlack;
    text-align: center;
    height: 1200px;

    &__header {
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__title h1 {
        font-size: 65px;
        color: $fontBlack;
    }

    &__texto {
        font-size: 50px;
        color: $fontBlack;
        width: 600px;
        padding: $padding3;

    }

}

@media (max-width:1100px) {
    .clinica {
        height: 700px;

        &__title h1 {
            font-size: 55px;
        }

        &__texto {
            font-size: 40px;

        }


    }
}


@media (max-width:600px) {
    .clinica__texto {
        width: 400px;
    }
}

@media (max-width:450px) {
    .clinica {
        height: 800px;

        &__header {
            height: 700px;
        }

        &__texto {
            width: 300px;
        }

    }
}