.contacto {
    height: 900px;

    &__bloque {
        background-color: #dfd9d9;
        height: 900px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        justify-content: center;
        position: relative;
        animation: contacto_transition 5s forwards;
    }

    &__datos {
        width: 550px;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: #ffff;
        background-color: #b9747b;
        margin: 30px;
        border-radius: 10px;

    }




}


// .contacto__bloque {
//     background-color: #dfd9d9;
//     height: 900px;
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: repeat(1, 1fr);
//     justify-items: center;
//     align-items: center;
//     justify-content: center;
//     position: relative;
//     animation: contacto_transition 5s forwards;
// }

@keyframes contacto_transition {
    0% {
        top: 1050px;
    }

    100% {
        top: 0px;
    }
}

.button_mail {
    background-color: #625380;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

// .contacto__datos {
//     width: 550px;
//     height: 700px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-around;
//     color: #ffff;
//     background-color: #b9747b;
//     margin: 30px;
//     border-radius: 10px;

// }

.contacto__dir {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;


}

.contacto__dir__number {
    width: 300px;
}

.contacto__telefono {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;





}

.contacto__tel__number {
    width: 300px;
}

.contacto__redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;


}

.contacto__redes__tipos {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.contacto__redes__nombre {
    margin-bottom: 10px;
}

.datos__email {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;





}

.email__tipos {
    width: 300px;
}


.contacto__hablemos {
    width: 550px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #000000;
    background-color: #ffff;
    margin: 30px;
    border-radius: 10px;



}

.hablemos__datos {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: center;


}

.hablemos__datos__personal {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hablemos__datos__mensaje {
    display: flex;

}

@media (max-width:1200px) {

    .contacto {
        height: 800px;
    }


    .contacto__datos {
        width: 350px;
        height: 500px;
        align-items: flex-start;
    }

    .contacto__hablemos {
        width: 350px;
        height: 500px;
    }

    .hablemos__datos__personal {
        width: 200px;
    }

    .hablemos__datos {
        width: 300px;
    }

    .hablemos__datos img {
        width: 200px;
        height: 50px;
    }

    .contacto__img img {
        width: 30px;
        height: 30px;

    }

    .redes__img img {
        width: 15px;
        height: 15px;
    }

    .contacto__bloque {
        height: 800px;
        font-size: 10px;
    }
}

@media (max-width:830px) {
    .contacto__bloque {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 1100px;

    }

    .contacto {
        height: 1100px;
    }


}

@media (max-width:380px) {
    .contacto__datos {
        width: 250px;
    }

    .contacto__hablemos {
        width: 250px;
    }

    .hablemos__datos {
        justify-content: center;
    }
}