body {
    font-family: "Poppins", Helvetica, Arial, sans-serif;

}

.quienessomos {
    width: 100%;


    &_encabezado {
        background-image: url(../imagenes/perros_gatos_china.jpeg);
        background-size: cover;
        background-position: center;
        background-position-x: center;
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 20px;
        font-weight: 200;
        position: relative;
        animation: quienessomos_transition 3s forwards;

        & h1 {
            padding-left: 20px;

        }

        & h2 {
            padding-left: 20px;
        }

    }

}

@keyframes quienessomos_transition {
    0% {
        left: -100%;
    }

    100% {
        left: 0%;
    }
}

.especialistas {
    background-color: $fontlight;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    justify-items: center;

    & h2 {
        color: purple;
        font-size: 42px;
        line-height: 50px;
        font-weight: 300;
        letter-spacing: 0px;
    }

    &__datos {
        display: flex;
        flex-direction: column;
        margin: 20px;
        width: 200px;
    }

    &__menu li {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $fontBlack;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0px;
        width: 300px;

        & p {
            margin: 0px;
        }

    }

}

.quienes__somos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    height: 400px;
    font-size: 30px;
    font-weight: 300;
    width: 100%;

    & ul li {
        display: flex;
        flex-direction: row;
        align-items: center;

        & p {
            margin: 0px 0px 0px 10px;
        }

    }

}

@media (max-width:1390px) {
    .especialistas {
        grid-template-columns: 0.7fr, 0.5fr, 0.5fr, 1fr;
        grid-template-rows: repeat(1, 1fr);
        height: x00px;
        margin: 20px;

        & h2 {
            font-size: 35px;
        }

        &__img img {
            width: 400px;
            height: 200px;
        }
    }

    .quienes__somos {
        display: flex;
        flex-direction: column;
        justify-items: center;
        height: 500px;

    }
}

@media (max-width:1290px) {

    .especialistas {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__datos {
            margin: 0px;
        }

    }

    .quienessomos_encabezado {
        font-size: 10px;
    }

}

@media (max-width:480px) {
    .especialistas__img img {
        width: 200px;
        height: 100px;
    }

    .quienes__somos {
        font-size: 15px;
        height: 350px;

    }

    .quienessomos_encabezado {
        flex-direction: column;
    }

    .especialistas p {
        font-size: 15px;
    }
}

@media (max-width:350px) {

    .especialistas {
        align-items: flex-start;
    }

    & p {
        font-size: 10px;
    }

}