.cirugia {
    background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../imagenes/quirofano_operando2.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Poppins;
    color: $fontBlack;
    text-align: center;
    height: 400px;

    &__grid {
        display: flex;
        align-items: center;
        justify-items: center;
    }

    &__title {
        font-size: 55px;
        color: $fontBlack;
    }

    &__texto {
        font-size: 25px;
        color: $fontBlack;
        text-align: justify;
    }

    &__lista {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        & ul li {
            font-size: 33px;
            color: $fontBlack;
            padding: $padding2;
            text-decoration: underline;
        }


    }


}

@media (max-width:900px) {
    .cirugia {

        height: 400px;

        &__title {
            font-size: 30px;
        }

        &__grid {
            flex-direction: column;
        }

        &__texto {
            font-size: 18px;
        }

        &__lista ul li {
            font-size: 20px;
            padding: $padding1;

        }
    }
}

@media (max-width:440px) {
    .cirugia {

        height: 500px;
    }
}