.farmacia {
    background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../imagenes/farmaciavete2.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 55px;
    font-family: Poppins;
    color: $fontBlack;
    text-align: center;
    height: 900px;
    text-align: center;

    & h1 {
        font-size: 75px;
    }

}



@media (max-width:1200px) {
    .farmacia {
        height: 600px;
    }

}

@media (max-width:800px) {
    .farmacia {
        font-size: 23px;
        height: 500px;

        & h1 {
            font-size: 35px;
        }

    }

}

@media (max-width:500px) {
    .farmacia {
        height: 300px;
    }

}

@media (max-width:330px) {
    .farmacia {
        font-size: 20px;
        height: 200px;

        & h1 {
            font-size: 30px;
        }
    }
}